* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

button {
  padding: 5px 5px;
}

ul {
  list-style: none;
  margin-bottom: 15px;
}

ul li {
  margin-bottom: 10px;
}

ul li div {
  display: flex;
  align-items: center;
}

ul li div span {
  font-size: large;
}

ul li div button {
  box-sizing: border-box;
  line-height: 0.25em;
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.task-text-input {
  padding: 5px 5px;
  margin-bottom: 15px;
  width: 350px;
}
