* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

button {
  padding: 5px 5px;
}

ul {
  margin-left: 15px;
  margin-bottom: 15px;
}

ul li {
  margin-bottom: 10px;
}

ul li span {
  font-size: large;
}

ul li button {
  box-sizing: border-box;
  line-height: 0.25em;
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.task-text-input {
  padding: 5px 5px;
  margin-bottom: 15px;
  width: 350px;
}
